{% extends "global/base.html" %}
{% block content %}
<div class="app-store-container" 
style="background: url('{{game.background}}'); background-position:center;">
    {% include "global/partials/shop_shortcuts.html" %}
    <div class="app-page">
        <div class="page-container">
            <div class="breadcrumb-nav">
                <span>
                    <a href="#">All Games</a> >
                    <a href="#">{{game.genres.all.first.name}} Games</a> >
                    <a href="{% url 'store:app' game.steam_appid game.slug %}">{{game.name}}</a>
                </span>
            </div>
            <div class="game-title app-page-action-btn">
                <h1>{{game.name}}</h1>
                <a href="#">Community Hub</a>
            </div>
        </div>
        <div class="game-details-container">
            <div class="game-app-bg">
                <div class="game-content">
                    <div class="game-media-display">
                        {% if game.movie1 or game.movie2 or game.movie3 %}
                        <div class="media-to-show">
                            <video src="" id="game-app-media-video" muted autoplay loop></video>
                            <img src="" id="game-app-media-img" alt="{{game.name}} Cover" style="display:none;">
                        </div>
                        {% else %}
                        <div class="media-to-show disc-fade">
                            <video src="" id="game-app-media-video" muted autoplay loop style="display:none;"></video>
                            <img src="" id="game-app-media-img" alt="{{game.name}} Cover">
                        </div>
                        {% endif %}
                        <div class="media-carousel">
                            {% include "store/partials/app_page_media_carousel.html" %}
                        </div>
                    </div>
                    <div class="game-content-data">
                        <img src="{{game.capsule_image}}" alt="{{game.name}}">
                        <p class="game-description">{{game.short_description}}</p>
                        {% include "store/partials/app_game_reviews.html" %}
                    </div>
                </div>
            </div>
        </div>
        {% include "store/partials/app_actions_btns.html" %}
    </div>
</div>
{% endblock content %}