{% extends "global/base.html" %}
{% block content %}

<div class="app-store-container" 
style="background: url('{{game.background}}'); background-size:cover;">
    {% include "global/partials/shop_shortcuts.html" %}
    <div class="app-page">
        <div class="breadcrumb-nav">
            <span>
                <a href="#">All Games</a> >
                <a href="#">{{game.genres.all.first.name}} Games</a> >
                <a href="{% url 'store:app' game.steam_appid game.slug %}">{{game.name}}</a>
            </span>
        </div>
        <div class="game-title">
            <h1>{{game.name}}</h1>
            <a href="#">Community Hub</a>
        </div>
        <div class="game-details-container">
            <div class="game-media-display"></div>
            <div class="game-content-data"></div>
        </div>
    </div>
</div>

{% endblock content %}