{% extends "global/base.html" %}

{% block content %}
<div class="app-store-container" 
style="background: url('{{game.background}}');
background-position:top; background-repeat: no-repeat;">
    {% include "global/partials/shop_shortcuts.html" %}
    <div class="app-page">
        <div class="page-container">
            <div class="breadcrumb-nav">
                <span>
                    <a href="#">All Games</a> >
                    <a href="#">{{game.genres.all.first.name}} Games</a> >
                    <a href="{% url 'store:app' game.steam_appid game.slug %}">{{game.name}}</a>
                </span>
            </div>
            <div class="game-title app-page-action-btn">
                <h1>{{game.name}}</h1>
                <a href="#">Community Hub</a>
            </div>
        </div>
        <div class="game-details-container">
            <div class="game-app-bg">
                <div class="game-content">
                    <div class="game-media-display">
                        <div class="media-to-show disc-fade">
                            {% if game.movie1 or game.movie2 or game.movie3 %}
                            <video src="" id="game-app-media-video" muted autoplay controls></video>
                            {% endif %}
                            <img src="" id="game-app-media-img" alt="">
                        </div>
                        <div class="media-carousel">
                            {% include "store/partials/app_page_media_carousel.html" %}
                        </div>
                        <div class="slider-ctn">
                            <div class="slider-left">
                                <span><i class="fa-solid fa-caret-left"></i></span>
                            </div>
                            <div class="slider"><div class="scroll"></div></div>
                            <div class="slider-right">
                                <span><i class="fa-solid fa-caret-right"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="game-content-data">
                        <img src="{{game.capsule_image}}" alt="{{game.name}}">
                        <p class="game-description">{{game.short_description}}</p>
                        {% include "store/partials/app_game_reviews.html" %}
                    </div>
                </div>
            </div>
        </div>
        {% include "store/partials/app_actions_btns.html" %}
    </div>
    <div class="game-app-attrs-content">
        {% include "store/partials/app_game_prices.html" %}
        <div class="game-attrs-column">
            <div class="game-attrs-data">
                <div class="game-attrs-title">
                    <h2>Is this game relevant to you?</h2>
                </div>
                <div class="attrs-content">
                    <p>
                        <i class="fa-solid fa-check"></i>
                        User reviews:
                        <span class="{{game.reviews.description}}">
                            {{game.reviews.description}}
                        </span>
                    </p>
                    <hr>
                    <p>
                        <i class="fa-solid fa-check"></i>
                        Players like you love this game.
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}