{% extends "global/base.html" %}

{% block content %}
<div class="main-store-container">
    <div class="store-column-content">
        {% include "store/partials/store_lateral_column.html" %}
    </div>
    <div class="store-featured-container">
        <div class="store-featured-content">
            <h1 class="store-title">featured & recommended</h1>
            <div class="store-games-slider-container">
                <div class="game-primary-image">
                    <img src="" alt="game image">
                </div>
                <div class="game-info-content">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}