/* vars */
:root {
  --primary-bg: #202c3c;
  --primary-lighter-bg: #203a51;
  --color-secondary: #1a9fff;
  --color-secondary-lighter: #6d949e;
  --row-items-bg: #272d37;
  --search-form-primary-color: #28506b;

  --color-white: #fff;
  --color-white-background: #f5f4f4;
  --clr-dark-background: #333435;
  --color-black: #000;
  --color-dark-text: #444;

  --color-gray-0: #f3f1f1;
  --color-gray-1: #dfdede;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  min-height: 100vh;
  background: var(--primary-bg);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.navbar-wrap {
  position: relative;
  height: 9rem;
  z-index: 1;
}

nav.nav-container {
  background: rgb(23, 29, 37);
  background: linear-gradient(
    174deg,
    rgba(23, 29, 37, 1) 0%,
    rgba(23, 26, 37, 1) 76%
  );
  padding: 1rem 1.5rem;
  color: var(--color-gray-3);
  height: 9rem;
  width: 100%;
  position: fixed;
}

nav.nav-container .nav-row-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

nav.nav-container .nav-row-items-start {
  display: flex;
  flex-direction: row;
  align-items: start;
  height: fit-content;
}

nav.nav-container .nav-row-items-start .row-item {
  margin-left: 1.5rem;
}

nav.nav-container .nav-row-items-start .row-item span {
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 100ms ease-in;
}

nav.nav-container .row-item span i,
nav.nav-container .row-item a i {
  font-size: 1.6rem;
  margin-right: 0.5rem;
  color: var(--color-gray-3);
}

nav.nav-container .row-item:hover span,
nav.nav-container .row-item:hover i {
  color: var(--color-white);
}

nav.nav-container .nav-row-items-end {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: fit-content;
}

nav.nav-container .nav-row-items-end {
  margin-right: 1.5rem;
}

nav.nav-container .nav-row-items-end .item-with-bg {
  background: var(--row-items-bg);
  width: 5rem;
  text-align: center;
  border-radius: 0.2rem;
  transition: all 100ms ease-in;
}

nav.nav-container .nav-row-items-end .item-with-bg a,
nav.nav-container .nav-row-items-end .item-with-bg i {
  font-size: 1.4rem;
  color: var(--color-gray-2);
  margin: 0;
  padding: 0.5rem;
}

nav.nav-container .nav-row-items-end .row-item {
  cursor: pointer;
  transition: all 100ms ease-in;
}

nav.nav-container .nav-row-items-end .item-with-bg:hover {
  filter: brightness(140%);
  color: var(--color-white);
}

nav.nav-container .nav-row-items-end .item-with-bg.profile-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

nav.nav-container .nav-row-items-end .item-with-bg.profile-dropdown:hover {
  background: var(--primary-bg);
  filter: brightness(100%);
}

nav.nav-container .nav-row-items-end .item-with-bg.profile-dropdown img {
  width: 2.4rem;
  margin-left: 0.4rem;
  box-shadow: 5px 0 3px -2px rgb(0, 0, 0, 0.3);
}

nav.nav-container .nav-row-items-end .item-with-bg.profile-dropdown small {
  margin-left: 0.8rem;
}

nav.nav-container .nav-row-items-end .item-with-bg.profile-dropdown small i {
  font-size: 0.8rem;
  margin-right: 0.4rem;
}

nav.nav-container .nav-row-items-end .end-item .big-picture i {
  font-size: 1.4rem;
}

nav.nav-container .nav-row-items-end .end-item .big-picture i:hover {
  color: var(--color-white);
}

nav.nav-container .nav-row-items-start.nav-bottom {
  margin-top: 0.6rem;
}

nav.nav-container .nav-row-items-start .row-item-upper {
  margin-left: 1.8rem;
  text-transform: uppercase;
  color: var(--color-gray-0);
  font-size: 2rem;
  font-weight: 600;
}

nav.nav-container .nav-row-items-start .row-item-upper.nav-chevron {
  margin-left: 1.5rem;
}

nav.nav-container .nav-row-items-start .row-item-upper.nav-chevron a {
  transition: all 100ms ease-in;
  color: var(--color-gray-2);
}

nav.nav-container .nav-row-items-start .row-item-upper.nav-chevron a:hover {
  color: var(--color-white);
}

nav.nav-container .nav-row-items-start .row-item-upper span:hover {
  cursor: pointer;
  color: var(--color-white);
}

nav.nav-container .nav-row-items-start .row-item-upper.active span {
  color: var(--color-secondary);
  border-bottom: 3px solid var(--color-secondary);
}

.header-container {
  width: 100%;
  height: 45rem;
  background: url("https://cdn.akamai.steamstatic.com/steam/clusters/sale_autumn2019_assets/54b5034d397baccb93181cc6/home_header_bg_day_english.gif?t=1687217633");
  background-position: center;
}

.header-container .shop-shortcuts-container .shop-shortcuts-col {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  align-items: end;
}

.header-container .shop-shortcuts-content {
  width: 94rem;
  margin: 0 auto;
  height: 3.5rem;
  background: #3c5f8ae5;
  -webkit-box-shadow: -1px 1px 8px 3px rgba(32, 44, 60, 0.904);
  -moz-box-shadow: -1px 1px 8px 3px rgb(32, 44, 60, 0.904);
  box-shadow: -1px 1px 8px 3px rgb(32, 44, 60, 0.904);
}

.header-container .shop-shortcuts-content .shop-shortcut {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-container
  .shop-shortcuts-content
  .shop-shortcut-dropdown
  img.profile-pic {
  width: 1.8rem;
  margin-right: 1rem;
}

.header-container .shop-shortcuts-content .shop-shortcut-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 0 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  height: 100%;
}

.header-container .shop-shortcuts-content .shop-shortcut-dropdown:hover {
  background: rgb(78, 138, 184);
  background: linear-gradient(
    97deg,
    rgba(78, 138, 184, 0.918) 45%,
    rgba(49, 98, 130, 0.753) 100%
  );
}

.header-container
  .shop-shortcuts-content
  .shop-shortcut-dropdown.profile-pic-drop {
  margin-left: 0;
}

.header-container .shop-shortcuts-content .shop-shortcut-dropdown span {
  color: var(--color-white);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.4rem;
}

.header-container .shop-shortcuts-content .shop-search-bar {
  margin-left: auto;
  margin-right: 0.5rem;
}

.shop-search-bar .search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.header-container .shop-shortcuts-content .shop-search-bar input {
  height: 2.8rem;
  border-radius: 0.3rem;
  border: none;
  outline: 1px solid var(--search-form-primary-color);
  padding: 1rem;
  width: 20rem;
  background: #316282;
  color: var(--color-white);
}

.header-container .shop-shortcuts-content .shop-search-bar input:hover {
  outline: 1px solid var(--color-secondary);
}

.header-container .shop-shortcuts-content .shop-search-bar button {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  outline: 1px solid var(--search-form-primary-color);
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  height: 100%;
  background: var(--color-secondary);
  scale: 0.95;
}

.header-container .shop-shortcuts-content .shop-search-bar button:hover {
  filter: brightness(120%);
}

.header-container .shop-shortcuts-content .shop-search-bar button i {
  font-size: 1.6rem;
  color: var(--search-form-primary-color);
}

.header-container .shop-wishlist-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 11rem;
  height: 2rem;
  margin: 2rem 0 0.2rem 0;
  font-size: 1.1rem;
  color: var(--color-white);
  background: #6cb3c5e5;
  border: 1px solid var(--color-dark-text);
  cursor: pointer;
}

.header-container .shop-wishlist-btn span {
  margin-bottom: 0.2rem;
}

.header-container .shop-wishlist-btn:hover {
  background: #ffffffd7;
  color: var(--color-dark-text);
}

.main-store-container {
  max-width: 150rem;
  width: 100%;
  margin: 1rem auto;
  display: flex;
}

.store-column-content {
  display: flex;
  flex-direction: column;
  max-width: 20.5rem;
  width: 100%;
  height: fit-content;
}

.store-column-content .steam-gift-cards {
  display: block;
  padding: 1.5rem 1rem;
  font-weight: 700;
  width: fit-content;
  cursor: pointer;
}

.store-column-content .steam-gift-cards:hover h1,
.store-column-content .steam-gift-cards:hover span {
  color: var(--color-white);
}

.store-column-content .steam-gift-cards img {
  width: 16rem;
}

.store-column-content .steam-gift-cards h1 {
  text-transform: uppercase;
  color: var(--color-secondary);
  margin: 0.5rem 0 0 0;
  filter: brightness(120%);
}

.store-column-content .steam-gift-cards span {
  color: var(--color-gray-2);
  font-size: 1.3rem;
}

.store-column-content .recently-viewed-content {
  width: fit-content;
  width: 90%;
  background: rgb(40, 52, 68);
  background: linear-gradient(
    86deg,
    rgba(40, 52, 68, 1) 58%,
    rgba(56, 67, 83, 0.9850140739889706) 100%
  );
  color: var(--color-gray-2);
  padding: 0.2rem 0 1.5rem 0;
  margin-left: 1rem;
}

.store-column-content h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #536f86;
  margin-bottom: 0.4rem;
}

.store-column-content p {
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.store-column-content p:hover {
  color: #5bc0f4;
}

.store-column-content .filter-item {
  color: var(--color-gray-2);
  padding: 0.6rem 1rem;
}

.store-featured-container {
  max-width: 99rem;
  width: 100%;
  padding: 0 1rem;
  margin-left: 4.5rem;
}

.store-featured-container h1.store-title {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 600;
}

.store-featured-container .store-games-slider-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 35rem;
  -webkit-box-shadow: 1px 0px 8px 1px rgba(1, 3, 18, 1);
  -moz-box-shadow: 1px 0px 8px 1px rgba(1, 3, 18, 1);
  box-shadow: 1px 0px 8px 1px rgba(1, 3, 18, 1);
  cursor: pointer;
}

.store-featured-container .store-games-slider-container .game-primary-image {
  width: 65%;
}

.store-featured-container
  .store-games-slider-container
  .game-primary-image
  img {
  width: 100%;
  max-height: 35rem;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
  display: none;
}

.store-featured-container
  .store-games-slider-container
  .game-primary-image
  img:first-of-type {
  display: flex;
}

.store-featured-container .store-games-slider-container .game-info-content {
  color: var(--color-white);
  width: 35%;
  background: rgb(14, 24, 33);
  background: linear-gradient(
    54deg,
    rgba(14, 24, 33, 1) 42%,
    rgba(18, 34, 48, 1) 80%
  );
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  .game-info-container {
  padding: 0.5rem 1rem;
  height: 100%;
  display: none;
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  div:first-of-type {
  display: grid;
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  .game-title {
  font-weight: 600;
  font-size: 2rem;
  text-wrap: wrap;
  height: fit-content;
  margin: 1rem 0 2.5rem 0;
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  .game-grid-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 1rem;
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  .game-grid-images
  img {
  width: 16.5rem;
  height: 7.5rem;
  object-fit: cover;
  opacity: 0.6;
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  .game-grid-images
  img:hover {
  opacity: 1;
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  .game-status {
  margin: 1rem 0 2.5rem 0;
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  .game-status
  h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  .game-status
  .top-seller-badge {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  width: fit-content;
  padding: 0.2rem 0.7rem;
  border-radius: 0.3rem;
  background: #394148;
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  .game-price-platform {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  margin-top: 0.5rem;
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  .game-price-platform
  .content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.store-featured-container
  .store-games-slider-container
  .game-info-content
  .game-price-platform
  i {
  font-size: 1.8rem;
}

.store-featured-container .store-games-slider-container .slider-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: var(--color-white);
}

.store-featured-container
  .store-games-slider-container
  .slider-arrow
  .arrow-left {
  position: absolute;
  margin-right: 5rem;
}

.store-featured-container
  .store-games-slider-container
  .slider-arrow
  .arrow-right {
  position: absolute;
  margin-left: 5rem;
}

.slider-arrow .arrow-right,
.slider-arrow .arrow-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 10rem;
  height: 100%;
  padding: 1rem;
  cursor: pointer;
}

.slider-arrow .arrow-left {
  background: rgb(16, 23, 38);
  background: linear-gradient(
    86deg,
    rgba(16, 23, 38, 0.6460784997592788) 8%,
    rgba(16, 23, 38, 0.648879620207458) 30%,
    rgba(22, 30, 47, 0.648879620207458) 49%,
    rgba(24, 31, 47, 0.648879620207458) 68%,
    rgba(27, 40, 70, 0.1) 100%
  );
}

.slider-arrow .arrow-left:hover {
  background: rgb(69, 94, 123);
  background: linear-gradient(
    86deg,
    rgba(69, 94, 123, 0.7161065109637605) 8%,
    rgba(69, 94, 123, 0.6180672952774859) 30%,
    rgba(69, 94, 123, 0.5032213569021359) 49%,
    rgba(69, 94, 123, 0.2763306005996149) 68%,
    rgba(69, 94, 123, 0) 100%
  );
}

.slider-arrow .arrow-right {
  background: rgb(16, 23, 38);
  background: linear-gradient(
    270deg,
    rgba(16, 23, 38, 0.6460784997592788) 8%,
    rgba(16, 23, 38, 0.648879620207458) 30%,
    rgba(22, 30, 47, 0.648879620207458) 49%,
    rgba(24, 31, 47, 0.648879620207458) 68%,
    rgba(27, 40, 70, 0.1) 100%
  );
}

.slider-arrow .arrow-right:hover {
  background: rgb(69, 94, 123);
  background: linear-gradient(
    270deg,
    rgba(69, 94, 123, 0.7161065109637605) 8%,
    rgba(69, 94, 123, 0.6180672952774859) 30%,
    rgba(69, 94, 123, 0.5032213569021359) 49%,
    rgba(69, 94, 123, 0.2763306005996149) 68%,
    rgba(69, 94, 123, 0) 100%
  );
}
