{% if game.movie1 %}
<div class="video-media media">
    <video src="{{game.movie1}}" class="game-carousel-item"></video>
    <div class="active-arrow-up"></div>
    <div class="pause-icon"><i class="fa-solid fa-play"></i></div>
</div>
{% endif %}
{% if game.movie2 %}
<div class="video-media media">
    <video src="{{game.movie2}}" class="game-carousel-item"></video>
    <div class="active-arrow-up"></div>
    <div class="pause-icon"><i class="fa-solid fa-play"></i></div>
</div>
{% endif %}
{% if game.movie3 %}
<div class="video-media media">
    <video src="{{game.movie3}}" class="game-carousel-item"></video>
    <div class="active-arrow-up"></div>
    <div class="pause-icon"><i class="fa-solid fa-play"></i></div>
</div>
{% endif %}
{% if game.screenshot1 %}
<div class="screenshot-media media">
    <img src="{{game.screenshot1}}" class="game-carousel-item" alt="Game Screenshot">
    <div class="active-arrow-up"></div>
</div>
{% endif %}
{% if game.screenshot2 %}
<div class="screenshot-media media">
    <img src="{{game.screenshot2}}" class="game-carousel-item" alt="Game Screenshot">
    <div class="active-arrow-up"></div>
</div>
{% endif %}
{% if game.screenshot3 %}
<div class="screenshot-media media">
    <img src="{{game.screenshot3}}" class="game-carousel-item" alt="Game Screenshot">
    <div class="active-arrow-up"></div>
</div>
{% endif %}
{% if game.screenshot4 %}
<div class="screenshot-media media">
    <img src="{{game.screenshot4}}" class="game-carousel-item" alt="Game Screenshot">
    <div class="active-arrow-up"></div>
</div>
{% endif %}
{% if game.screenshot5 %}
<div class="screenshot-media media">
    <img src="{{game.screenshot5}}" class="game-carousel-item" alt="Game Screenshot">
    <div class="active-arrow-up"></div>
</div>
{% endif %}