<div class="game-actions-btns">
    <div class="initial-btns">
        <div class="app-page-action-btn">
            <a href="#">Add to your wishlist</a>
        </div>
        <div class="app-page-action-btn">
            <a href="#">Follow</a>
        </div>
        <div class="app-page-action-btn">
            <a href="#">Ignore</a>
        </div>
    </div>
    <div class="end-btns">
        <div class="app-page-action-btn">
            <a href="#">
                View Your Queue <i class="fa-solid fa-right-long"></i>
            </a>
        </div>
    </div>
</div>