<a href="{% url 'store:app' game.steam_appid game.slug %}">
    {% if game.movie1 or game.movie2 or game.movie3 %}
    <div class="game-grid-card">
        <div class="game-media-container" title={{game.name}}>
            <img src="{{game.capsule_image}}" alt="{{game.name}}">
            {% include "store/partials/game_movies.html" %}
            {% include "store/partials/sale_prices.html" %}
        </div>
    </div>
    {% else %}
    <div class="game-grid-card no-video" title={{game.name}}>
        <img src="{{game.capsule_image}}" alt="{{game.name}}">
        {% include "store/partials/sale_prices.html" %}
    </div>
    {% endif %}
</a>