{% load filters %}
{% load humanize %}

<div class="game-card-item saleCardAnim" title="{{game.name}}"
style="background-image: url('{{game.sale_image}}');
background-size: cover; background-position: 50%;">
<a href="{% url 'store:app' game.steam_appid game.slug %}">
    <div class="game-card-content">
        <div class="game-card-movie">
            {% include "store/partials/game_movies.html" %}
        </div>
        <div class="game-card-flex-content">
            <div class="game-content">
                <h1>
                {{game.name}}
                <div class="game-reviews">
                    <p class="{{game.reviews.description}}">
                        {{game.reviews.description}} 
                        <span>({{game.reviews.total_reviews|intcomma}})</span>
                    </p>
                </div>
                <div class="game-review-text">
                    <span>
                    {{game.reviews.positive_percent}}% of the
                    {{game.reviews.total_reviews|intcomma}} user
                    reviews for this game are positive.
                    </span>
                </div>
                <div class="game-genres">
                    {% for genre in game.genres.all  %}
                    <div class="genre-item"><span>{{genre.name}}</span></div>
                    {% endfor %}
                </div>
            </div>
            <div class="content-flex-row">
                <div class="add-to-cart-btn" title="Add to Cart">
                    <button>Add to Cart</button>
                </div>
                {% include "store/partials/sale_prices.html" %}
            </div>
        </div>
    </div>
</a>
</div>