{% load filters %}

<div class="game-card-prices">
    {% if game.discount_percent %}
    <div class="discount-price">
        <span>-{{game.discount_percent|format_discount}}%</span>
    </div>
    {% endif %}
    {% if not game.is_free %}
    <div class="game-prices">
        {% if game.price_initial != '' and not None %}
        <span class="initial-price strikediag">
            {% if not 'R$' in game.price_final %}
            R$
            {% endif %}
            {{game.price_initial}}
        </span>
        {% endif %}
        <span class="final-price">
            {% if not 'R$' in game.price_final %}
            R$
            {% endif %}
            {{game.price_final}}
        </span>
    </div>
    {% else %}
    <div class="game-prices free-to-play">
        <span>Free to Play</span>
    </div>
    {% endif %}
</div>