{% load filters %}
<div class="sales-container">
    <div class="sales-grid-cards-content">
        <div class="sales-grid">
            {% include "store/partials/slider_arrow_left.html" %}
            {% for game in slide_games  %}
            {% include "store/partials/game_item.html" %}
            {% endfor %}
            {% include "store/partials/slider_arrow_right.html" %}
        </div>
        {% include "store/partials/slides_dot.html" %}
    </div>
    {% include "store/partials/deep_discounts_items.html" %}
    <div class="discount-games-grid"></div>
</div>