{% load static %}

<div class="steam-gift-cards">
    <img src="{% static 'global/img/steamcards-asset.png' %}" alt="steam cards asset">
    <h1>steam gift cards</h1>
    <span>Give the Gift of Game</span>
</div>
<div class="recently-viewed-content">
    <h1>recently viewed</h1>
    <p>something 1</p>
    <p>something 2</p>
    <p>something 3</p>
    <p>something 4</p>
    <p>something 5</p>
</div>
<div class="filter-item">
    <h1>your tags</h1>
    <p>tag 1</p>
    <p>tag 2</p>
    <p>tag 3</p>
</div>
<div class="filter-item">
    <h1>reccomended</h1>
    <p>by friends</p>
    <p>by curators</p>
    <p>tags</p>
</div>
<div class="filter-item">
    <h1>browse categories</h1>
    <p>top sellers</p>
    <p>new releases</p>
    <p>upcoming</p>
    <p>specials</p>
    <p>VR titles</p>
    <p>controller-friendly</p>
    <p>great on deck</p>
</div>
<div class="filter-item">
    <h1>browse BY genre</h1>
    <p>free to play</p>
    <p>early access</p>
    <p>action</p>
    <p>adventure</p>
    <p>casual</p>
    <p>indie</p>
    <p>massively multiplayer</p>
    <p>racing</p>
    <p>RPG</p>
    <p>simulation</p>
    <p>sports</p>
    <p>strategy</p>
</div>