<div class="store-featured-content">
    <h1 class="store-title">featured & recommended</h1>
    {% for game in slide_games  %}
    <div class="store-games-slider-container fadeAnim">
        <div class="slider-arrow">
            <div class="arrow-left" onclick="plusSlides(-1)">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
        </div>
        <div class="game-primary-image">
            <img src="{{game.screenshot1}}" alt="game image">
        </div>
        <div class="game-info-content">
            <div class="game-info-container">
                <h1 class="game-title">{{game.name}}</h1>
                <div class="game-grid-images">
                    <img src="{{game.screenshot1}}" alt="game image">
                    <img src="{{game.screenshot2}}" alt="game image">
                    <img src="{{game.screenshot3}}" alt="game image">
                    <img src="{{game.screenshot4}}" alt="game image">
                </div>
                <div class="game-status">
                    <h2>Now Available</h2>
                    <div class="top-seller-badge">
                        <span>Top Seller</span>
                    </div>
                </div>
                <div class="game-price-platform">
                    <div class="content">
                        <span>
                            {% if game.price %}
                            {{game.price}}
                            {% else %}
                            Free
                            {% endif %}
                        </span>
                        <i class="fa-brands fa-windows"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-arrow">
            <div class="arrow-right" onclick="plusSlides(1)">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="store-slides">
    {% for i in slide_len  %}
    <div class="slide-dot" onclick="currentSlide({{i}})"></div>
    {% endfor %}
</div>