<div class="footer-container">
    <div class="footer-content">
        <hr>
        <div>
        <div class="footer-flex">
            <img src="https://store.akamai.steamstatic.com/public/images/footerLogo_valve_new.png" alt="Valve Logo">
            <span>
                © 2024 Valve Corporation.  All rights reserved.
                All trademarks are property of their respective owners in the US and other countries.<br>
                VAT included in all prices where applicable.
                <a href="#">Privacy Policy</a> |
                <a href="#">Legal</a> |
                <a href="#">Steam Subscriber Agreement</a> |
                <a href="#">Refunds</a> |
                <a href="#">Cookies</a>
            </span>
            <img src="https://store.akamai.steamstatic.com/public/images/v6/logo_steam_footer.png" alt="Steam Logo">
        </div>
        </div>
        <hr>
        <div class="footer-links">
            <a href="#">About Valve</a> |
            <a href="#">Jobs</a> |
            <a href="#">Steamworks</a> |
            <a href="#">Steam Distribution</a> |
            <a href="#">Support</a> |
            <a href="#">Gift Cards</a> |
            <a href="#"> <i class="fa-brands fa-facebook-f"></i> Steam</a> |
            <a href="#"> <i class="fa-brands fa-x-twitter"></i> @steam</a>
        </div>
    </div>
</div>