<div class="footer-container">
    <div class="footer-content">
        <hr>
        <img src="https://store.akamai.steamstatic.com/public/images/footerLogo_valve_new.png" alt="Valve Logo">
        <div>
            © 2024 Valve Corporation.  All rights reserved.
            All trademarks are property of their respective owners in the US and other countries.
        </div>
        <div>
            VAT included in all prices where applicable.
            <a href="#">Privacy Policy</a> |
            <a href="#">Legal</a> |
            <a href="#">Steam Subscriber Agreement</a> |
            <a href="#">Refunds</a> |
            <a href="#">Cookies</a>
        </div>
        <hr>
    </div>
</div>