<div class="col mb-5">
    <div class="card h-100">
        {% if product.is_sale %}
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
        {% endif %}
        <img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}" />
        <div class="card-body p-3">
            <div class="text-center">
                <h5 class="fw-bolder">{{product.name}}</h5>
                <hr class="p-1">
                {% if product.is_sale %}
                <span class="text-muted text-decoration-line-through">{{product.price}} R$</span>
                &nbsp; {{product.sale_price}}
                {% else %}
                <h5 class="mt-2">{{product.price}} R$</h5>
                {% endif %}
            </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
    </div>
</div>